<h2>
    Subject
    <input type="button" class="btn btn-info btn-sm" value="New Subject" ng-click="OpenForm(formData)" style="float:right;" ng-show="!showForm">
</h2>

<div class="alert alert-danger" ng-show="msgError.length > 0">
    {{msgError}}
</div>

<!-- begin : form -->
<div class="panel panel-default" ng-show="showForm">
    <div class="panel-body">

        <form name="frm" novalidate>
            <input type="hidden" data-ng-model="formData.SubjectId" />
            <div class="form-group col-md-4">
                <label class="control-label">Title:</label>
                <input type="text" class="form-control" data-ng-model="formData.Title" maxlength="100" />
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Course:</label>
                <select class="form-control" ng-model="formData.CourseId">
                    <option ng-repeat="option in objectCourseList track by option.CourseId" value="{{option.CourseId}}">{{option.Title}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label">Teacher:</label>
                <select class="form-control" ng-model="formData.TeacherId">
                    <option ng-repeat="option in objectTeacherList track by option.TeacherId" value="{{option.TeacherId}}">{{option.Name}}</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Students:</label>
                <div ng-repeat="student in studentsForm">
                    <label class="col-md-6" for="chkStudents_{{student.StudentId}}">
                        <input id="chkStudents_{{student.StudentId}}" type="checkbox" ng-model="student.Selected">{{student.Name}}
                    </label>
                </div>
            </div>
        </form>

    </div>
    <div class="panel-footer text-right">
        <input type="button" class="btn btn-default btn-sm" value="Cancel" ng-click="Cancel()">
        <input type="submit" class="btn btn-primary btn-sm" value="Save" ng-click="Save(formData)">
    </div>
</div>
<!-- end : form -->

<!-- begin : list -->
<div class="panel panel-default" id="no-more-tables">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Course</th>
                <th>Title</th>
                <th>Teacher</th>
                <th class="actionColumn"></th>
                <th></th>
            </tr>
        </thead>
        <tr ng-repeat="o in objectList">
            <td data-title="Course">{{ o.Course.Title }}</td>
            <td data-title="Title">{{ o.Title }}</td>
            <td data-title="Name">{{ o.Teacher.Name }}</td>
            <td>
                <button class="btn btn-primary btn-xs" ng-click="GetSubjectInformation(o.SubjectId)">Show Information</button>
            </td>
            <td class="actionColumn">
                <button class="btn btn-info btn-xs" ng-click="OpenForm(o)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                <button class="btn btn-danger btn-xs" ng-click="Remove(o.SubjectId)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
            </td>
        </tr>
        <tr ng-show="objectList.length == 0">
            <td colspan="5">
                No data!
            </td>
        </tr>
    </table>
</div>
<!-- end : list -->
<!-- begin : subject information -->
<div id="subjectInformationModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Subject Information</h4>
            </div>
            <div class="modal-body">

                <div ng-show="subjectInformation">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Teacher</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Birthday</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tr>
                            <td data-title="Name">{{ subjectInformation.Teacher.Name }}</td>
                            <td data-title="BirthDay">{{subjectInformation.Teacher.BirthDay | date:'dd/MM/yyyy'}}</td>
                            <td data-title="Salary">{{subjectInformation.Teacher.Salary | number:2 }}</td>
                        </tr>
                    </table>

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Students Grade</th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="o in subjectInformation.StudentGrades">
                            <td data-title="SubjectTitle">{{ o.StudentName }}</td>
                            <td data-title="Grade">{{o.Grade | number:2 }}</td>
                        </tr>
                        <tr ng-show="subjectInformation.StudentGrades.length == 0">
                            <td colspan="2">No student data!</td>
                        </tr>
                    </table>
                </div>
                <div ng-show="!subjectInformation">
                    No information to show!
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end : subject information -->